<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Amaze UI Admin help Examples</title>
  <meta name="description" content="这是一个 help 页面">
  <meta name="keywords" content="help">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="icon" type="image/png" href="../i/favicon.png">
  <link rel="apple-touch-icon-precomposed" href="../i/app-icon72x72@2x.png">
  <meta name="apple-mobile-web-app-title" content="Amaze UI" />
  <link rel="stylesheet" href="../css/amazeui.min.css"/>
  <link rel="stylesheet" href="../css/admin.css">
  <link rel="stylesheet" href="../tree-master/dist/amazeui.tree.css"/>
</head>
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
  以获得更好的体验！</p>
<![endif]-->





  <!-- content start -->
  <div class="admin-content">
    <div class="admin-content-body">
      <div class="am-cf am-padding am-padding-bottom-0">
        <div class="am-fl am-cf">
          <strong class="am-text-primary am-text-lg">帮助</strong> /
          <small>Help </small>
        </div>
      </div>

      <hr/>

      <div class="am-g">
        <div class="am-u-sm-12 am-u-sm-centered">

          <ul class="am-tree" id="firstTree">
            <li class="am-tree-branch am-hide" data-template="treebranch">
              <div class="am-tree-branch-header">
                <button class="am-tree-branch-name">
                  <span class="am-tree-icon am-tree-icon-folder"></span>
                  <span class="am-tree-label"></span>
                </button>
              </div>
              <ul class="am-tree-branch-children"></ul>
              <div class="am-tree-loader"><span class="am-icon-spin am-icon-spinner"></span></div>
            </li>
            <li class="am-tree-item am-hide" data-template="treeitem">
              <button class="am-tree-item-name">
                <span class="am-tree-icon am-tree-icon-item"></span>
                <span class="am-tree-label"></span>
              </button>
            </li>
          </ul>

          <h2>表名： </h2>
          <p onclick="addClomun()">添加</p>


        </div>

        <div class="am-u-sm-12 am-u-md-8 am-u-md-pull-4">

          <ol id="cloumn">

          </ol>

        </div>
      </div>




    </div>

    <footer class="admin-content-footer">
      <hr>
      <p class="am-padding-left">© 2014 AllMobilize, Inc. Licensed under MIT license.</p>
    </footer>

  </div>
  <!-- content end -->


<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>

<footer>
  <hr>
  <p class="am-padding-left">© 2014 AllMobilize, Inc. Licensed under MIT license.</p>
</footer>

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="../js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="../js/jquery.min.js"></script>
<!--<![endif]-->
<script src="../js/amazeui.min.js"></script>
<script src="../js/app.js"></script>
<script src="../tree-master/dist/amazeui.tree.js"></script>
</body>
</html>
<script>
    $(document).ready(function(){
        console.log(data);
       loadTableTree();
        $('#firstTree').tree({
            dataSource: function(options, callback) {
                // 模拟异步加载
                setTimeout(function() {
                    callback({data: options.products || data1});
                }, 400);
            },
            multiSelect: false,
            cacheItems: true,
            folderSelect: false
        });
    });
    
    function loadTableTree() {
        $.ajax({
            url:'../getTableTree',
            type: 'POST',
            dataType:'json',
            // async:false,
            success:function(data){
              data1=data;
              console.log(data1);

            }
        });
    }
    var data1 =[];
    function addClomun() {
        var html='<label>名称</label><input/>';
        $('#cloumn').append(html);
    }

    // demo 1
    var data = [
        {
            title: '1级节点1',
            "type": 'item',
            id : '1',
            /*id : '1',
            name:  "1级节点1",*/
            /*"parentId": "0",*/
/*            id: "1",
            "name": "1级节点1",
            "parentId": "0",
            "order": 1,
            "title": "1级节点1",
            type: "1",
            "level": 1,*/
            products: [
                {
                    title: 'iPhone',
                    type: 'item'
                },
                {
                    title: 'iMac',
                    type: 'item'
                },
                {
                    title: 'MacBook Pro',
                    type: 'item'
                }
            ]
        },
        {
            title: '微软公司',
            type: 'item'
        },
        {
            title: 'GitHub',
            type: 'item',
            attr: {
                icon: 'am-icon-github'
            }
        }
    ];

    $('#firstTree').on('selected.tree.amui', function (event, data) {
        // do something with data: { selected: [array], target: [object] }
       // alert(1);
        console.log(data.selected[0].type);
    });



</script>